.ui_buttons {
	white-space: nowrap;
	padding: 4px 8px;
	text-align: right;
	background-color: #FFF;
}
.ui_state_close{
	background-color: rgb(221, 221, 221);
	border-bottom-color: rgb(153, 153, 153);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-collapse: collapse;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(153, 153, 153);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(153, 153, 153);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(153, 153, 153);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-style: solid;
	border-top-width: 1px;
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: pointer;
	display: inline-block;
	font-family: tahoma, arial, ו, sans-serif;
	font-feature-settings: "kern";
	font-size: 12px;
	font-stretch: 100%;
	font-style: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-weight: 400;
	height: 30px;
	letter-spacing: 3px;
	line-height: 12px;
	margin-bottom: 0px;
	margin-left: 6px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(51, 51, 51);
	outline-style: none;
	outline-width: 0px;
	overflow-x: visible;
	overflow-y: visible;
	padding-bottom: 3px;
	padding-left: 12px;
	padding-right: 10px;
	padding-top: 3px;
	text-align: center;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	transition-delay: 0s;
	transition-duration: 0.2s;
	transition-property: box-shadow;
	transition-timing-function: linear;
	user-select: none;
	visibility: visible;
	white-space: pre;
	width: 54px;
	word-spacing: 0px;
	writing-mode: horizontal-tb;
	-webkit-appearance: none;
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
	-webkit-rtl-ordering: logical;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-border-image: none;
}
.ui_state_highlight {
	background: #35A0E8 none repeat scroll 0 0;
	border: 1px solid #35A0E8;
	color: #fff;
	text-shadow: 0 -1px 1px #1c6a9e;
	height: 30px;
}
.main_div{
        margin: auto;
        text-align: center;

    }
.pic_div{
        position: relative;
        background-color: pink;
        border: 1px dotted red;
        margin: 10px auto;
        width: 98%;
        height: 98%;
    }
